<h1>Cards</h1>
<%= render 'form' %>
<ul>
<% for card in @cards %>
<li id="card_<%= card.id %>">
<%= card.card %>
	| <%= link_to 'Edit', edit_card_path(card) %>
	| <%= link_to 'Delete', card, :method => 'delete' %>
	</li>
<% end %>
</ul>
